#interview-filter {
  .ant-input,
  .ant-input-group-addon:last-child .ant-input-search-button {
    height: 45px;
    font-size: 16px;
  }

  .ant-input-group-addon:last-child .ant-input-search-button {
    width: 42px;
  }

  .ant-input-group-addon svg {
    width: 1.125rem;
    height: 1.125rem;
  }

  .ant-select {
    &-selection-wrap {
      margin: auto;
    }

    &-selection-item {
      font-size: 16px;
    }
  }

  .ant-picker-input > input {
    font-size: 16px !important;
  }
}
