.table-antd {
  .ant-table-wrapper {
    box-shadow: 0 6px 8px -6px #ededed;
    position: relative;
  }

  .ant-table-thead > tr > th {
    font: normal normal 600 16px Quicksand !important;
    color: #000 !important;
    background: #f9f9f9 !important;
    height: 63px;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding-left: 28px !important;
  }

  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not(
      [colspan]
    )::before {
    content: none;
  }

  .ant-table-tbody > tr > td {
    font: normal normal 500 16px Quicksand !important;
    height: 50px;
    color: $text-basic;

    a {
      color: #5646ff;
      font-weight: normal;
    }
  }
  .ant-table-tbody > tr > td a {
    font-weight: 500;
  }

  .ant-table-tbody > tr:nth-of-type(odd) {
    background-color: #fcfcfc !important;
  }

  .ant-select-selector {
    border: 1px solid #dde6e9;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: #5646ff !important;
    box-shadow: unset !important;
  }

  .ant-select:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector:hover {
    border-color: #5646ff !important;
    box-shadow: unset !important;
  }

  .ant-select-selection-item {
    font: normal normal 400 14px Quicksand;
  }

  .ant-pagination-item-active a {
    color: #1890ff;
  }

  .ant-divider-vertical {
    background-color: black;
  }

  .br12 {
    border-radius: 12px;
  }
  &.vehicle-report {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td {
      padding-left: 48px !important;
    }
  }
}
.twoline {
  display: inline-block;
  overflow: hidden;
  color: $text-basic;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.overflow-none {
  & .ant-table-wrapper {
    box-shadow: none;
  }
  & .ant-table-content {
    overflow: hidden !important;
  }
  & .ant-table-ping-right:not(.ant-table-has-fix-right) > .ant-table-container::after {
    box-shadow: unset !important;
  }
}

.detail-table {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding-left: 42px !important;
  }
}

.ant-table-thead > tr:not(:last-child) > th[colspan] {
  border-bottom: none;
  position: relative;
}

.ant-table-thead > tr:not(:last-child) > th[colspan]::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 2px;
  background-color: #eaeff3;
}

.ant-statistic-content {
  font-size: 14px !important;
}
.hidden-scrollx {
  .ant-table-content {
    overflow-x: hidden !important;
  }
}

tr.ant-table-expanded-row > td,
tr.ant-table-expanded-row:hover > td {
  background-color: #ffffff !important;
}

.ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table,
.ant-table-tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table {
  margin: -16px -16px -16px -28px;
}

.ant-table-filter-dropdown {
  padding: 6px;
}

.ant-dropdown-menu {
  padding: 0px;
}

.ant-table-filter-dropdown {
  border-radius: 5px !important;
}

.ant-dropdown-menu-title-content {
  font-size: 16px;
}

.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected {
  color: #fe7743;
  background-color: #fff2e8;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fe7743 !important;
  border-color: #fe7743 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #fe7743 !important;
}

.ant-table-filter-dropdown-btns {
  height: 40px;
  .ant-btn {
    height: 30px;
    width: 100px;
  }
}
