// edit antd for required mark from left to right
#change-password-form {
  .ant-form-item-required {
    flex-direction: row-reverse;
  }

  .ant-form-item-required::before {
    margin-left: 4px;
  }

  .ant-form-item-required::after {
    width: 0;
    margin: 0 !important;
  }
}
