// edit antd for required mark from left to right
#change-password-form {
  .ant-form-item-required {
    flex-direction: row-reverse;
  }

  .ant-form-item-required::before {
    margin-left: 4px;
  }

  .ant-form-item-required::after {
    width: 0;
    margin: 0 !important;
  }
  .input-custom {
    @apply rounded-md px-4 py-3 sm:px-6 sm:py-2 text-base sm:text-lg w-full;
  }
}
