.ant-layout {
  background: #efeff5;
  height: 100vh;
  overflow: hidden;

  .content {
    display: flex;
    justify-content: center;
    background: #efeff5;
    overflow-y: auto;
  }
  .outlet-layout {
    width: 100%;
  }
}
