.admin-sidebar {
  .ant-menu {
    .ant-menu-item,
    .ant-menu-submenu-title {
      .ant-menu-title-content {
        color: #888;
        font-weight: bold;
        transition: color 0.3s ease;
      }

      &:hover .ant-menu-title-content {
        color: #000;
      }

      &.ant-menu-item-selected .ant-menu-title-content,
      &.ant-menu-submenu-selected .ant-menu-title-content {
        color: #fa8c16;
      }
    }
  }

  .ant-menu-inline {
    border: none;
    background: white !important;
  }

  &:not(.collapsed) {
    .ant-menu-item-icon {
      font-size: 18px;
      transition: font-size 0.3s ease;
    }
  }

  &.collapsed {
    .ant-menu-item-icon {
      font-size: 20px !important;
      transition: font-size 0.3s ease;
    }
  }
}
