.custom-badge {
  .ant-badge-multiple-words {
    padding: 0px;
  }
  .ant-badge-count-sm {
    font-size: 10px;
  }
}

.custom-filter-checkbox {
  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px;
  }
}
